/_DOCUMENTATION/02_Documentation/kort.pdf
/_DOCUMENTATION/03_Model/data_model.png
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lol
*.lot
*.maf
*.mtc
*.mtc1
*.nlo
*.out
*.syg
*.synctex.gz
*.tdo
*.ldb
*.bak
